*{
    margin: 0;
    padding: 0;
    scroll-behavior:smooth;
}

img{
    max-width: 100%;
}

@font-face {
    font-family: 'Neue Montreal';
    src: url(../font/Neue/NeueMontreal-Regular.otf);
}

@font-face {
    font-family: 'Neue Montreal bold';
    src: url(../font/Neue/NeueMontreal-Bold.otf);
}

@font-face {
    font-family: 'Gallery';
    src: url(../font/Gallery/GalleryModern.otf);
}


body{
    background: #FDF8EF;
}

a{
    text-decoration: none;
}

.container{
    padding: 0px 5.5vw;
    box-sizing: border-box;
}

.head{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    padding: 0px 5.5vw;
    background: #345858;
    margin-bottom: 50px;

}

.head img{
    width: 150px;
    height: auto;
}

.content{
    display: flex;
    flex-direction: row;
    /* justify-content: space-evenly; */
    gap: 20px;

}

.content a{
    font-family: 'Neue Montreal';
    font-size: 20px;
    color: #FDF8EF;
    text-decoration: none;
}

.bandeau{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #F7EEDC;
    margin-bottom: 100px;
}

.bandeau img{
    width: 50%;
    height: auto;
}

h1{
    font-family: 'Gallery';
    font-size: 5vw;
    color: black;
}

.Titre{
    padding: 0px 5.5vw;
    margin-bottom: 20px;
}

.description{
    font-family: 'Neue Montreal';
    font-size: 20px;
    color: black;
}

.bouton{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    box-sizing: border-box;
    background: #FDF8EF;

    font-family: 'Neue Montreal';
    font-size: 1rem;
    color: black;
}

.BigBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 30px;

    width: 50%;
    height: auto;
}


H2{
    font-family: 'Gallery';
    font-size: 3.5vw;
    color: black;
}

.actu{
    display: flex;
    flex-direction: column;
    width: 29%;
    height: auto;
    background: #F7EEDC;
}

.actu div{
    display: flex;
    flex-direction: column;
    padding: 12px;
    box-sizing: border-box;
    gap: 22px;
    text-align: center;
}

.blog{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
}



.article{
    display: flex;
    gap: 51px;
    align-self: stretch;
    justify-content: space-between;
}


.article p{
    font-family: 'Neue Montreal';
    font-size: 1.2vw;
    color: black;
    text-decoration: none;
}

h3{
    font-family: 'Gallery';
    font-size: 2.5vw;
    color: black ;
    text-decoration: none;
}

.L-produit{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around; 
    gap: 20px;
}

.produit{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    flex-shrink: 0;

    width: calc((100% - (20px * 3)) / 4);
}

.produit img{
    width: 300px;
    height: auto;
}

.produit p{
    color: black;
    text-decoration: none;
}

.P-name{
    font-family: 'Gallery';
    font-size: max(2vw, 16px);
}

.P-price{
    font-family: 'Neue Montreal';
    font-size: 1.2vw;
}

#menu-toggle {
    display: none;
}

/* Style de l'icône du menu burger */
.menu-icon {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 25px;
    cursor: pointer;
}

.menu-icon span {
    background-color: #F1E7E0;
    height: 3px;
    width: 100%;
    border-radius: 2px;
}


@media (max-width: 768px) {
    .menu-icon {
        display: flex;
    }

    .content {
        display: none; 
        flex-direction: column;
        position: absolute;
        top: 70px;
        right: 0;
        background-color: #345858;
        padding: 20px;
        box-sizing: border-box;
        width: 50%;
        min-height: 100dvh;

    }

    #menu-toggle:checked ~ .content {
        display: flex; 
    }

    .content a {
        font-size: 18px;
        text-align: center;
    }
    
    .produit{
        width: calc((100% - 20px) / 2);
    }

    .bandeau{
        flex-direction: column-reverse;
    }

    .BigBox{
        width: 100%;
    }

    .bandeau img{
        width: 100%;
    }

    .article{
        flex-direction: column;
    }

    .actu{
        width: 100%;
    }

    .info{
        flex-direction: column !important; 
    }

    .desc-footer{
        width: 100% !important;
    }

    .liste{
        width: 100% !important;
    }

    h2{
        font-size: 7vw;
    }
    h3{
        font-size: 7vw;
    }
    p{
        font-size: 3vw !important;
    }

    .big-text span {
        font-size: 3vw !important;
    }
}

@media (max-width: 400px) {
    .L-produit{
        justify-content: center;
    }
    .produit{
        width: auto;
    }
}

footer{
    display: flex;
    flex-direction: column;

    justify-content: center;
    background: #345858;
    gap: 20px;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 100px;
    padding: 0px 5.5vw;
}

.info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.desc-footer{
    display: flex;
    flex-direction: column;
    width: 40%;
}

.desc-footer img{
    width: 100%;
    max-width: 300px;
    height: auto;
}

.desc-footer p{
    color: #F1E7E0;
    font-family: 'Neue Montreal';
    font-size: 20px;
    text-decoration: none;
}

.liste{
    display: flex;
    flex-direction: column;
    width: 25%;
    gap: 20px;
}

.cgv{
    display: flex;
    flex-direction: row;
    gap: 40px;
    padding: 10px 0px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.liste a{
    color: #F1E7E0;
    font-family: 'Neue Montreal';
    font-size: 1rem;
    text-decoration: none;
}

.liste p{
    color: #F1E7E0;
    font-family: 'Neue Montreal';
    font-size: 1rem;
    text-decoration: none;
}

.cgv a{
    color: #F1E7E0;
    font-family: 'Neue Montreal';
    font-size: 16px;
    text-decoration: none;
}

.big-text{
    background: #F7EEDC;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    padding: 40px;
    gap: 40px;
}

.big-text p{
    font-family: 'Neue Montreal';
    font-size: 1.2vw;
}

.big-text span{
    font-size: 1.3vw;
    font-family: 'Neue Montreal bold';
}


.B-produit h1{
    font-size: 3vw;
}

.reco{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    gap: 20px;
    
}


.login-container{
    padding: 0px 5.5vw;
    margin-top: 50px;

}


.login-container h1 {

    margin-bottom: 1rem;
    text-align: center;
    margin-top: 50px;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    font-family: 'Neue Montreal';
}

.login-form label {
    font-weight: bold;
}

.login-form input {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 50%;
}

.forgot-password {
    text-align: right;
    color: #2d4e48;
    text-decoration: none;
    font-size: 0.9rem;
}

.login-button {
    background-color: #345858;
    color: white;
    border: none;
    padding: 0.7rem 2rem;
    border-radius: 4px;
    cursor: pointer;
}

.create-account {
    text-align: center;
    margin-top: 1rem;
    font-family: 'Neue Montreal';
}

.create-account a {
    color: #2d4e48;
    text-decoration: none;

}

.back-link{
    font-family: 'Neue Montreal';
    color: black;
}


.civilite-options {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.civilite-options input {
    margin-right: 0.5rem;
}

.newsletter {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-top: 1rem;
}

.blog{
    padding: 0px 5.5vw;
}

.blog p{
    font-family: 'Neue Montreal';
    color: black;
}

.panier{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.panier img{
    width: 300px;
    height: auto;
}

.P-panier{
    display: flex;
    flex-direction: row;
}
