*{
    margin: 0;
    padding: 0;
    scroll-behavior:smooth;
}

img{
    max-width: 100%;
}

@font-face {
    font-family: 'Neue Montreal';
    src: url(../font/Neue/NeueMontreal-Regular.otf);
}

@font-face {
    font-family: 'Neue Montreal bold';
    src: url(../font/Neue/NeueMontreal-Bold.otf);
}

@font-face {
    font-family: 'Gallery';
    src: url(../font/Gallery/GalleryModern.otf);
}

.container{
    padding: 0px 5.5vw;
    box-sizing: border-box;
}

body{
    background: #FDF8EF;
}

a{
    text-decoration: none;
}


.head{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    padding: 0px 5.5vw;

}

.head img{
    width: 200px;
    height: auto;
}

.content{
    display: flex;
    flex-direction: row;
    /* justify-content: space-evenly; */
    gap: 20px;
}

.content a{
    font-family: 'Neue Montreal';
    font-size: 20px;
    color: black;
    text-decoration: none;
}

.bandeau{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #F7EEDC;
    margin-bottom: 100px;
}

.bandeau img{
    width: 50%;
    height: auto;
}

h1{
    font-family: 'Gallery';
    font-size: 5vw;
    color: black;
}

.description{
    font-family: 'Neue Montreal';
    font-size: 2.11vw;
    color: black;
}

.bouton{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    box-sizing: border-box;
    background: #FDF8EF;

    font-family: 'Neue Montreal';
    font-size: 1vw;
    color: black;
}

.BigBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 30px;

    width: 50%;
    height: auto;
}


H2{
    font-family: 'Gallery';
    font-size: 3.5vw;
    color: black;
}

.actu{
    display: flex;
    flex-direction: column;
    width: 29%;
    height: auto;
    background: #F7EEDC;
}

.actu div{
    display: flex;
    flex-direction: column;
    padding: 12px;
    box-sizing: border-box;
    gap: 22px;
    text-align: center;
}

.blog{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
}

.article{
    display: flex;
    gap: 51px;
    align-self: stretch;
    justify-content: space-between;
}


.article p{
    font-family: 'Neue Montreal';
    font-size: 1.2vw;
    color: black;
    text-decoration: none;
}

h3{
    font-family: 'Gallery';
    font-size: 2.5vw;
    color: black ;
    text-decoration: none;
}

.L-produit{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around; 
    gap: 20px;
}

.produit{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    flex-shrink: 0;

    width: calc((100% - (20px * 3)) / 4);
}

.produit img{
    width: 300px;
    height: auto;
}

.produit p{
    color: black;
    text-decoration: none;
}

.P-name{
    font-family: 'Gallery';
    font-size: max(2vw, 16px);
}

.P-price{
    font-family: 'Neue Montreal';
    font-size: 1.2vw;
}





#menu-toggle {
    display: none;
}

/* Style de l'icône du menu burger */
.menu-icon {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 25px;
    cursor: pointer;
}

.menu-icon span {
    background-color: black;
    height: 3px;
    width: 100%;
    border-radius: 2px;
}


@media (max-width: 768px) {
    .menu-icon {
        display: flex;
    }

    .content {
        display: none; 
        flex-direction: column;
        position: absolute;
        top: 70px;
        right: 0;
        background-color: #FDF8EF;
        padding: 20px;
        box-sizing: border-box;
        width: 50%;
        min-height: 100dvh;

    }

    #menu-toggle:checked ~ .content {
        display: flex; 
    }

    .content a {
        font-size: 18px;
        text-align: center;
    }
    
    .produit{
        width: calc((100% - 20px) / 2);
    }
}

@media (max-width: 400px) {
    .L-produit{
        justify-content: center;
    }
    .produit{
        width: auto;
    }
}

footer{
    display: flex;
    flex-direction: column;

    justify-content: center;
    background: #345858;
    gap: 20px;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 100px;
    padding: 0px 5.5vw;
}

.info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.desc-footer{
    display: flex;
    flex-direction: column;
    width: 40%;
}

.desc-footer img{
    width: 100%;
    max-width: 300px;
    height: auto;
}

.desc-footer p{
    color: #F1E7E0;
    font-family: 'Neue Montreal';
    font-size: 20px;
    text-decoration: none;
}

.liste{
    display: flex;
    flex-direction: column;
    width: 25%;
    gap: 20px;
}

.cgv{
    display: flex;
    flex-direction: row;
    gap: 40px;
    padding: 10px 0px;
    box-sizing: border-box;
}

.liste a{
    color: #F1E7E0;
    font-family: 'Neue Montreal';
    font-size: 20px;
    text-decoration: none;

}

.cgv a{
    color: #F1E7E0;
    font-family: 'Neue Montreal';
    font-size: 16px;
    text-decoration: none;
}

.big-text{
    background: #F7EEDC;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    padding: 40px;
    gap: 40px;
}

.big-text p{
    font-family: 'Neue Montreal';
    font-size: 1.2vw;
}

.big-text span{
    font-size: 1.3vw;
    font-family: 'Neue Montreal bold';
}



.B-produit{
    flex-direction: row-reverse;
}

.B-produit h1{
    font-size: 3vw;
}